@charset 'UTF-8';

/*-------------------------------------------------------------------
	분류그룹 : 초기화
	속성순서 : 레이아웃, 크기여백, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/

/* Fonts */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Tags */
html {scroll-behavior: smooth;}
html, body {height: 100%;}
::before,::after,
html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, caption, address, article, aside,
canvas, details, figure, figcaption, main, footer, header, menu, nav, section,
button, select, textarea, input, fieldset, legend, label, a, span, strong, em, address, dfn, small, i, b {margin:0; padding:0; border:0; list-style:none; font-style:normal; font-size:inherit; font-weight:inherit; font-family:inherit; color:inherit; box-sizing:inherit; -webkit-box-sizing:inherit; -moz-box-sizing:inherit; -o-box-sizing:inherit; -webkit-print-color-adjust:exact;}
:before, :after {box-sizing:inherit; -webkit-box-sizing:inherit; -moz-box-sizing:inherit; -o-box-sizing:inherit;}
main, article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section {display:block;}
body {font-family:'Noto Sans KR', 'sans-serif', 'Apple SD Gothic Neo', 'AppleGothic', 'Apple Gothic', '-apple-system', sans-serif; font-size:14px; line-height:1; word-break:break-all; word-wrap:break-word; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
html[lang=ja] body, html[lang=zh] body {word-break:normal;}
[hidden], hr {display:none;}
img {vertical-align:middle;}
button {background-color:transparent; cursor:pointer;}
fieldset, iframe {width:100%;}
img, a, frame, iframe, fieldset {border:0;}
a {text-decoration:none;}
caption {height:1px; overflow:hidden;}
legend {position:fixed; overflow: hidden; border: 0; margin:-1px; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%);}
button {overflow:hidden; background-color:transparent; cursor:pointer;}
button::-moz-focus-inner {border:0px; padding:0px;}
input[type='checkbox'],input[type='radio'],select {appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
textarea {resize:none;}
select::-ms-expand {display:none;}
input::-ms-clear,
input::-ms-reveal {display:none; width:0; height:0;}
input::search-decoration,
input::search-cancel-button,
input::search-results-button,
input::search-results-decoration {display:none;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display:none;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance:none; margin:0;}
input::-webkit-calendar-picker-indicator {-webkit-appearance:none;}
.dv-android [tabindex='0']:focus,
.dv-android a:focus,
.dv-android button:focus,
.dv-android input:focus,
.dv-android textarea:focus,
.dv-android select:focus {outline:0;}
.dv-ios [tabindex='0'],
.dv-ios a,
.dv-ios button,
.dv-ios input,
.dv-ios textarea,
.dv-ios select {-webkit-tap-highlight-color:transparent;}

/*-------------------------------------------------------------------
	분류그룹 : 유틸리티
	속성순서 : 레이아웃, 크기여백, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @General
-------------------------------------------------------------------*/
/* System */
.blind {position:fixed; overflow: hidden; border: 0; margin:-1px; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%);}
.is-hidden {display:none !important;}
.is-locked-all {overflow:hidden;}
.is-locked-ios {position:fixed; left:0; top:0; width:100%; height:100%; overflow:hidden;}

/* Margin */
.mar-0 {margin:0 !important;}
.mar-t0 {margin-top:0 !important;}
.mar-r0 {margin-right:0 !important;}
.mar-b0 {margin-bottom:0 !important;}
.mar-l0 {margin-left:0 !important;}

/* Padding */
.pad-0 {padding:0 !important}
.pad-t0 {padding-top:0 !important}
.pad-r0 {padding-right:0 !important}
.pad-b0 {padding-bottom:0 !important}
.pad-l0 {padding-left:0 !important}

/* Border */
.line-0 {border-width:0 !important;}
.line-t0 {border-top-width:0 !important;}
.line-r0 {border-right-width:0 !important;}
.line-b0 {border-bottom-width:0 !important;}
.line-l0 {border-left-width:0 !important;}

/* Align - Inline */
.align-t {vertical-align:top !important;}
.align-m {vertical-align:middle !important;}
.align-b {vertical-align:bottom !important;}
.align-l {text-align:left !important;}
.align-c {text-align:center !important;}
.align-r {text-align:right !important;}
.align-j {text-align:justify; -moz-text-align-last:justify; -webkit-text-align-last:justify; text-align-last:justify;}

/* 말줄임 */
.ellipsis1 {overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap;}
.ellipsis2 {overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.ellipsis3 {overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical;}

/*-------------------------------------------------------------------
	@Grid
-------------------------------------------------------------------*/
/* Grid */
.grid {display:-webkit-flex; display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap;}
.col {-webkit-box-flex:0;-ms-flex:none;flex:none;}

/* Column */
.col.auto {width:auto;}
.col.col-1  {width:8.33333333%;}
.col.col-2  {width:16.6666%;}
.col.col-3  {width:25%;}
.col.col-4  {width:33.3333%;}
.col.col-5  {width:41.66666667%;}
.col.col-6  {width:50%;}
.col.col-7  {width:58.33333333%;}
.col.col-8  {width:66.66666667%;}
.col.col-9  {width:75%;}
.col.col-10 {width:83.33333334%;}
.col.col-11 {width:91.66666667%;}
.col.col-12 {width:100%;}

/*-------------------------------------------------------------------
	@Colors
-------------------------------------------------------------------*/
/* 강조 */
.bg-primary {background-color:var(--primary);}
.text-primary {color:var(--primary);}
.line-primary {border-color:var(--primary);}

.bg-secondary {background-color:var(--secondary);}
.text-secondary {color:var(--secondary);}
.line-secondary {border-color:var(--secondary);}

/*-------------------------------------------------------------------
	분류그룹 : Layout
	속성순서 : 레이아웃, 크기여백, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/* Layout */
.in_sec {padding-left: var(--side-gap); padding-right: var(--side-gap);}
.out-sec {margin-left: calc(-1 * var(--side-gap)); margin-right: calc(-1 * var(--side-gap));}

/*-------------------------------------------------------------------
	분류그룹 : Components
	속성순서 : 레이아웃, 크기여백, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/* Swiper */
.swiper {position:relative;}
.swiper > .swiper-button-prev,
.swiper > .swiper-button-next {margin:0;top:50%; transform:translateY(-50%);}
.swiper > .swiper-container > .swiper-button-prev,
.swiper > .swiper-container > .swiper-button-next {display:none;}
.swiper .swiper-pagination {display:flex; justify-content:center; width:100%; bottom:10px;}
.swiper .swiper-pagination-bullet {margin:0 3px;}

/* Section */
.sec_head {display:flex; justify-content: space-between; align-items:flex-end;}
.sec h2, .sec h3, .sec h4, .sec p {font-family:inherit; margin:0; line-height:inherit;}