@charset 'UTF-8';
/*-------------------------------------------------------------------
	분류그룹 : 전역변수
	변수선언 : --변수명: 값
	변수사용 : 선택자 { 속성: var(--변수명) }
-------------------------------------------------------------------*/
/* iOS safe-area */
:root {
	--safe-top: 0px;
	--safe-bottom: 0px;
}
/* iOS 11.0 버전 */
@supports (--safe-top: constant(safe-area-inset-top)) {
	:root {
		--safe-top: constant(safe-area-inset-top);
		--safe-bottom: constant(safe-area-inset-bottom);
	}
}
/* iOS 11.2 이상 */
@supports (--safe-top: env(safe-area-inset-top)) {
	:root {
		--safe-top: env(safe-area-inset-top);
		--safe-bottom: env(safe-area-inset-bottom);
	}
}

/* Sizes */
:root {
	--side-gap: 24px;
}

/* Colors */
:root {
	/* 의미 */
	--color-title: #222222;
	--color-para: #666666;
	--color-info: #999999;
	--color-link: #999999;

	/* 배경 */
	--color-bg-dark: #222222; 
	--color-bg-gray: #666666;
	--color-bg-light: #999999;

	/* 라인 */
	--color-line-dark: #222222; 
	--color-line-gray: #666666;
	--color-line-light: #999999;
	
	/* 강조 */
	--color-primary: orange;
	--color-secondary: green;
	--color-emphasis: green;
	
	/* 항목 */
	--color-cate-ai: #9f3fc5;
	--color-cate-dt: #613fc6;
	--color-cate-happinesst: #ff9600;
	--color-cate-sv: #ee712c;
	--color-cate-design: #d72d2f;
	--color-cate-global: #38b84c;
	--color-cate-leadership: #2987cd;
	--color-cate-management: #28b4ac;
	--color-cate-semicond: #4b6bcc;
	--color-cate-skacademy: #ea6957;
	--color-cate-green: #009abd;
	--color-cate-bmd: #bd38a5;
	--color-cate-academy: #ea6957;
	
	/* 상태 */
	--color-successed: green; 
	--color-failed: red;
	--color-completed: blue;
	--color-errored: red;
}