@import '../../../resources/scss/variables';
@import '../../../resources/scss/mixins';

/* Header Styles */
.main_wrapper>.header {
    position: fixed;
    left: 0;
    top: calc(0 + var(--safeTop));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $heightHeader;
    padding: 0 $gapSideBase;

    &>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .profile_home {
        display:flex;
        align-items: center;
    }
}

/* BannerNotice */
.main_wrapper>.banner_notice {
    display: none;
    position: relative;
    overflow: hidden;
    height: 0;
    button.close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    a.banner {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: #e6f4ff;
    }

    // Cases
    &.is_opened {
        display: block;
        height:45px;
    }

    &.is_closed {
        display: block;
        height: 0;
        transition: height 0.2s ease;
    }
    &.is_opened + .header {
        top:calc($heightHeader + var(--safeTop));
    }
    &.is_closed + .header {
        top:calc(0 + var(--safeTop));
    }
}
