@import '../../resources/scss/variables';
@import '../../resources/scss/mixins';

/*-------------------------------------------------------------------
    @Layout
-------------------------------------------------------------------*/
/* Default */
.main_wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main_wrapper>.header,
.main_wrapper>.footer {
    flex: none;
}

.main_wrapper>.container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.main_wrapper>.container>.content_body {
    flex: 1 0 auto;
}

.main_wrapper>.container>.content_head,
.main_wrapper>.container>.content_foot {
    flex: none;
}

/* Header Styles */

.main_wrapper>.header {
    position: sticky;
    left: 0;
    top: calc(0 + var(--safeTop));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $heightHeader;
    padding: 0 $gapSideBase;

    &>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* BannerNotice */
.main_wrapper>.banner_notice {
    display: none;
    position: relative;
    overflow: hidden;
    height: 45px;
}

.main_wrapper>.banner_notice button.close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.main_wrapper>.banner_notice a.banner {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #e6f4ff;
}

.main_wrapper>.banner_notice.is_opened {
    display: block;
}

.main_wrapper>.banner_notice.is_closed {
    display: block;
    animation: bannerNotice 0.2s ease forwards;
}
.main_wrapper>.banner_notice.is_opened + .header {
    top:calc($heightHeader + var(--safeTop));
}
.main_wrapper>.banner_notice.is_closed + .header {
    top:calc(0 + var(--safeTop));
}

@keyframes bannerNotice {
    0% {
        height: 45px;
    }

    100% {
        height: 0px;
    }
}

/* Container Styles */
.main_wrapper>.container {
    width: 100%;
    margin: 0;
}


.main_wrapper>.footer {
    display: flex;
    align-items: center;
    padding: 12px $gapSideBase;
    background-color: #666;
    color: #fff;
}
