/* guide 레이아웃 스타일 */
.g-wrap header {
    width: 100%;
    padding: 25px 0;
}

.g-wrap header h1 {
    padding-left: 20px;
    color: #121212;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
}
.g-wrap h2.test {
    color: #121212;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
}

.g-cont {
    /* max-width: 1200px; */
    padding: 0 20px 20px;
}

.g-cont .gTit:before {
    content: '*';
    margin-right: 10px;
    color: #ac0c3c;
}

.g-cont .gInfo {
    margin: 0 0 10px;
    padding-left: 20px;
    color: #000;
    font-size: 12px;
    line-height: 1.5
}

.g-cont .gInfo:before {
    content: "";
    position: relative;
    display: inline-block;
    width:4px;
    height:4px;
    top:-2px;
    background-color: #777;
    margin-right: 10px;
    color: #777;
    border-radius: 50%;
}

.g-cont .preview {
    min-height: 30px;
    margin-bottom: 40px;
    /* padding: 0 0 0 20px; */
}

.g-cont .link {
    text-decoration: underline;
}

.g-cont .g_h2 {
    padding-top:20px;
    border-top: 1px dashed #666;
    font-weight: 700;
    font-size: 16px;
    color: red;
}

.g-cont .g_h3 {
    background-color: #666;
    margin: 20px 0;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

