/* Aside */
.aside {display:block; position:fixed; left:0; top:calc(0 - var(--safe-top) - var(--safe-bottom)); z-index:1100; width:100%; height:100%; box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); background-color:#eee;}
.aside .ui.button.close {position:absolute; right:3px; top:3px; width:40px; height:40px; padding:0;}
.aside_head {display:flex; justify-content: space-between; align-items: center; height:46px; padding-left:var(--gapSideBase); padding-right:50px;}
.aside_head .aside_logo {margin:0;}
.aside_body {height:calc(100% - 45px); padding:0 var(--gapSideBase); overflow-y:auto;}

/* Aside Transition */
.aside {transition:transform 0.2s ease-out; transform:translateX(-101%);}
.aside.is_active {transform:translateX(0%)}

/* Gnb Navigation */
.gnb {}
