/*-------------------------------------------------------------------
	분류그룹 : 초기화
	속성순서 : 레이아웃, 크기여백, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/

/* Fonts */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Tags */
html {scroll-behavior: smooth;}
html, body {height: 100%;}
::before,::after,
html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, caption, address, article, aside,
canvas, details, figure, figcaption, main, footer, header, menu, nav, section,
button, select, textarea, input, fieldset, legend, label, a, span, strong, em, address, dfn, small, i, b {margin:0; padding:0; border:0; list-style:none; font-style:normal; font-size:inherit; font-weight:inherit; font-family:inherit; color:inherit; box-sizing:inherit; -webkit-box-sizing:inherit; -moz-box-sizing:inherit; -o-box-sizing:inherit; -webkit-print-color-adjust:exact;}
:before, :after {box-sizing:inherit; -webkit-box-sizing:inherit; -moz-box-sizing:inherit; -o-box-sizing:inherit;}
main, article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section {display:block;}
body {font-family:'Noto Sans KR', 'sans-serif', 'Apple SD Gothic Neo', 'AppleGothic', 'Apple Gothic', '-apple-system', sans-serif; font-size:14px; line-height:1; word-break:break-all; word-wrap:break-word; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
html[lang=ja] body, html[lang=zh] body {word-break:normal;}
[hidden], hr {display:none;}
img {vertical-align:middle;}
button {background-color:transparent; cursor:pointer;}
fieldset, iframe {width:100%;}
img, a, frame, iframe, fieldset {border:0;}
a {text-decoration:none;}
caption {height:1px; overflow:hidden;}
legend {position:fixed; overflow: hidden; border: 0; margin:-1px; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%);}
button {overflow:hidden; background-color:transparent; cursor:pointer;}
button::-moz-focus-inner {border:0px; padding:0px;}
input[type='checkbox'],input[type='radio'],select {appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
textarea {resize:none;}
select::-ms-expand {display:none;}
input::-ms-clear,
input::-ms-reveal {display:none; width:0; height:0;}
input::search-decoration,
input::search-cancel-button,
input::search-results-button,
input::search-results-decoration {display:none;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display:none;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance:none; margin:0;}
input::-webkit-calendar-picker-indicator {-webkit-appearance:none;}
.dv-android [tabindex='0']:focus,
.dv-android a:focus,
.dv-android button:focus,
.dv-android input:focus,
.dv-android textarea:focus,
.dv-android select:focus {outline:0;}
.dv-ios [tabindex='0'],
.dv-ios a,
.dv-ios button,
.dv-ios input,
.dv-ios textarea,
.dv-ios select {-webkit-tap-highlight-color:transparent;}

/*-------------------------------------------------------------------
	iOS safe-area
-------------------------------------------------------------------*/
/* Default */
:root {
	--safe-top: 0px;
	--safe-bottom: 0px;
}
/* iOS 11.0 버전 */
@supports (--safe-top: constant(safe-area-inset-top)) {
	:root {
		--safe-top: constant(safe-area-inset-top);
		--safe-bottom: constant(safe-area-inset-bottom);
	}
}
/* iOS 11.2 이상 */
@supports (--safe-top: env(safe-area-inset-top)) {
	:root {
		--safe-top: env(safe-area-inset-top);
		--safe-bottom: env(safe-area-inset-bottom);
	}
}
