/*-------------------------------------------------------------------
	주제 : 변수정의
	부제 : iOS, Gaps, Sizes, Colors
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	iOS safe-area
-------------------------------------------------------------------*/
/* Default */
:root {
	--safe-top: 0px;
	--safe-bottom: 0px;
}
/* iOS 11.0 버전 */
@supports (--safe-top: constant(safe-area-inset-top)) {
	:root {
		--safe-top: constant(safe-area-inset-top);
		--safe-bottom: constant(safe-area-inset-bottom);
	}
}
/* iOS 11.2 이상 */
@supports (--safe-top: env(safe-area-inset-top)) {
	:root {
		--safe-top: env(safe-area-inset-top);
		--safe-bottom: env(safe-area-inset-bottom);
	}
}

/*-------------------------------------------------------------------
	Gaps (Margin, Padding)
-------------------------------------------------------------------*/
/* Global */
$gapSideBase: 24px;

/*-------------------------------------------------------------------
	Sizes (Width, Height)
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
	Colors
-------------------------------------------------------------------*/
/* 의미 */
$colorTitle: #222222;
$colorPara: #666666;
$colorInfo: #999999;
$colorLink: #999999;

/* 강조 */
$colorPrimary: orange;
$colorSecondary: green;
$coloreEphasis: green;

/* 항목 */
$colorCateAi: #9f3fc5;
$colorCateDt: #613fc6;
$colorCateHappinesst: #ff9600;
$colorCateSV: #ee712c;
$colorCateDesign: #d72d2f;
$colorCateGlobal: #38b84c;
$colorCateLeadership: #2987cd;
$colorCateManagement: #28b4ac;
$colorCateSemicond: #4b6bcc;
$colorCateGreen: #009abd;
$colorCateBM: #bd38a5;
$colorCateSkacademy: #ea6957;

/* 상태 */
$colorSuccessed: green; 
$colorFailed: red;
$colorCompleted: blue;
$colorErrored: red;
