@charset 'UTF-8';

/* BannerNotice */
.banner_notice {position:relative; overflow: hidden; height:45px;}
.banner_notice button.close {position:absolute;top:50%;right:0;transform:translateY(-50%);}
.banner_notice a.banner {display:flex;align-items: center;height:100%;background-color: #e6f4ff;}
.banner_notice.is_closed {animation:bannerNotice 0.2s ease forwards;}
@keyframes bannerNotice {
	0% {height:45px;}
	100% {height:0px;}
}
