@import '../../resources/scss/variables';
@import '../../resources/scss/mixins';

/*-------------------------------------------------------------------
    @Default Layout
-------------------------------------------------------------------*/
/* Default */
.sub_wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.sub_wrapper>.header,
.sub_wrapper>.footer {
	flex: none;
}

.sub_wrapper>.container {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.sub_wrapper>.container>.content_body {
	flex: 1 0 auto;
}

.sub_wrapper>.container>.content_head,
.sub_wrapper>.container>.content_foot {
	flex: none;
}

/* Styles */
.sub_wrapper>.container {
	width: 100%;
	margin: 0;
	padding: 24px $gapSideBase;
}

.sub_wrapper>.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 52px;
	padding: 0 $gapSideBase;
	background-color: #000;
	color: #fff;
}
.sub_wrapper>.header.is_dark {
	color:#fff;
}
.sub_wrapper>.header>div {
	display:flex;
	align-items: center;
	justify-content: space-between;
}
.sub_wrapper>.footer {
	display: flex;
	align-items: center;
	padding: 12px $gapSideBase;
	background-color: #666;
	color: #fff;
}