@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

/* Default */
.sub_wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	&>.header {
		flex: none;
	}
	&>.container {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		&>.content_head {
			flex: none;
		}
		&>.content_body {
			flex: 1 0 auto;
		}
		&>.content_foot {
			flex: none;
		}
	}
}

/* Styles */
.sub_wrapper {
	/* Header */
	>.header {
	position:fixed;
	left:0;
	top:calc(0 + var(--safeTop));
	width:100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $heightHeader;
	padding: 0 $gapSideBase;
	background-color: transparent;
	color:$colorTitle;
		>div {
			display:flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	/* Container */
	>.container {
		width: 100%;
		margin: 0;
		padding-top: calc($heightHeader + var(--safeTop));
		padding-bottom: var(--safeBottom);
		line-height: 1.5;
		>.content_head,
		>.content_body,
		>.content_foot {
			padding-left: $gapSideBase;
			padding-right: $gapSideBase;
		}
	}
}

/* Cube Wrapper */
.cube_wrapper {
	>.header {
		background-color: transparent;
		color:#fff;
	}
}
