@import '../../../../../resources/scss/variables';
@import '../../../../../resources/scss/mixins';

/* Event Section */
.main_event_sec .main_event_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: lightgray;
}
.main_event_sec .main_event_swiper .swiper-controller {
    position:absolute;
    left:0;
    bottom:10px;
    width:100%;
}