@import '../../../resources/scss/variables';
@import '../../../resources/scss/mixins';

/* Header Styles */
.sub_wrapper>.header {
	position:fixed;
	left:0;
	top:calc(0 + var(--safeTop));
	width:100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $heightHeader;
	padding: 0 $gapSideBase;
	&>div {
		display:flex;
		align-items: center;
		justify-content: space-between;
	}
	// Case
	&.is_white {
		background-color: transparent;
		color:$colorTitle;
	}
	&.is_black {
		background-color: transparent;
		color:white;
	}
}