.ia_wrap {
  display:flex;
  min-height:100%;
  background-color: #f6f6f6;
}
.ia_wrap iframe {
  flex:none;
  width:375px;
  height:760px;
}
.ia_wrap .ia_container {
  flex:1 1 auto;
  width:100%;
  padding:20px;
}
.ia_wrap .ia_container .gnb .ui.button {
  font-weight: 700;
  margin-right:6px;
}
/* 추가 page-index를 위한 style */
.ia_container .ui.vertical.menu {
    width: 100% !important;
  }
  .ia_container .page-list-menu {
    padding: 14px 0 !important;
    height: 50px;
  }
  .ia_container .page-list-menu .item {
    margin-right: 15px;
    font-size: 12px !important;
    color: #6c788f;
  }
  .ia_container .page-list-menu .item a {
    font-weight: bold;
  }
  .ia_container .page-list-menu .item:hover {
    color: #222;
  }
  .ia_container .table thead th {
    font-size: 14px;
    background: #666 !important;
    color: #fff !important;
  }
  .ia_container .table tbody tr td {
    font-size: 14px;
  }
  .ia_container .table .table-tit {
    background: #e4e9f3;
    border-top: 2px solid #777;
    border-bottom: 1px solid #777;
  }
  .ia_container .table .link-address {
    color: #999;
  }
  .ia_container .table .link-address a::before {
    content:attr(href);
  }
  .ia_container .text-bold {
    font-weight: bold;
  }

  .ui.breadcrumb {
    float: right;
}
.text-blue {
    color: #1f75e9 !important;
    /*font-size: 0.875em;*/
}
.text-orange {
    color: #ff664d !important;
    font-size: 0.875em;
}
.text-red {
    color: #f00 !important;
    font-size: 0.875em;
}
.text-grey {
    color: #ccc !important;
    font-size: 0.875em;
}

.text-green {
    color: #2db700 !important;
    font-size: 0.875em;
}

.text-purple {
    color: #9100ff !important;
    font-weight:700;
}
.bg-purple{
    background:rgba(230, 230, 250, .5);
}
.bg-purple span{
    font-weight:700;
    color:#9100ff !important;
}

.text-bgd{
    color : #900020 !important;
    font-weight: 700;
}

.bg-red{
    background-color:rgba(255, 99, 71, 0.2);
}


.bg-yellow{
    background-color:rgb(255, 165, 0 ,0.2);
}

.bg-green{
    background-color:rgb(60, 179, 113,0.2);
}

.bg-blue{
    background-color:rgb(129,190,247,0.2);
}


/* .ui.structured.celled.table tr td:last-child{font-size: 10px;} */
.ui.structured.celled.table tr td:nth-child(n+4){font-size: 12px;}